{{ define "main" }}

<h1>About Me</h1>

<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline;">

    <div style="flex-grow: 1; padding-right: 20px; text-align: justify;">
        <p>
            Howdy, welcome to my corner of the internet. Where I document the things I’ve built, broken, and occasionally fixed while incorrectly assuming I knew what was going on the whole time. This blog isn’t so much a carefully curated collection of wisdom as it is a curious, haphazardly assembled set of projects, conquests, and fumbles made through my journey as student, engineer, and an editor of the hitch hikers guide to the galaxy. 
        </p>

        <p>
            So, if you’re looking for answers to life’s biggest questions, I can’t promise those. But if you’re here for something a little more chaotic, you’ve definitely found the right spot. And if you find something perplexing along the way? Don’t panic. That’s just part of the ride. ...
            <a href="about/">(more)</a>
        </p>
    </div>

    <div>
        {{ partial "ascii-art.html" . }}

        <div style="margin-top: 1em; display: flex; justify-content: center; align-items: center;">
            <p style="margin-bottom: 0px;">
                <a href="https://github.com/MasonJohnHawver42">Github</a> |
                <a href="/Mason_Hawver_Resume.pdf">Resume</a> |
                <a href="/Mason_Hawver_Transcript.pdf">Transcript</a> |
                <a href="https://masonjohnhawver.itch.io/">Itch</a> 
            </div>
            <div style="margin-top: .125em; display: flex; justify-content: center; align-items: center;">
                <a href="https://www.linkedin.com/in/mason-jh/">Linkedin</a>
        </div>
    </div>

</div>

<br/>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <!-- <p> -->
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            <!-- </p> -->
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Github Contributions</h1>

{{ partial "contrib.html" . }}

{{ end }}